# URL to the geodata API (optionally without size parameter)
#VITE_GEODATA_URL = "https://mivs03.gm.fh-koeln.de/geodata"
VITE_GEODATA_URL = "https://mivs03.gm.fh-koeln.de/geodata?size=4000"

# Credentials for the geodata API
VITE_GEODATA_LOGIN = ""
VITE_GEODATA_PASSWORD = ""

# Mapbox access token (https://account.mapbox.com)
VITE_MAPBOX_TOKEN = ""

# Mapbox style URLs — light and dark theme
VITE_MAPBOX_STYLE = "mapbox://styles/mapbox/light-v11"
VITE_MAPBOX_STYLE_DARK = "mapbox://styles/mapbox/dark-v11"
